/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
#game{
  text-align: center;
  font-size: 9pt;
  border-collapse: collapse;
}
#ff{
  font-size: 2em;
  font-weight: bolder;
  pointer-events: none;
}
h1{
  color: white;
}
body{
  background-color:#115ff4;
}
table{
  display: table;
  border-collapse:separate;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
}

.game-table{
  text-align: center;
  font-size: 10pt;
  background-color:#060ce9 ;
  color: white;
  border-collapse: collapse;
}

thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

thead tr{
  display: table-row;
  vertical-align: inherit;
  border-color:inherit;
}

.game-table th{
  border: solid white 1px;
  width: 12em;
  padding: 1em;
}

th{
  text-transform: uppercase;
  font-weight: bold;
  height: 4em;
}

td, th{
  display: table-cell;
  vertical-align: inherit;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr{
  display: table-row;
  vertical-align: inherit;
  border-color:inherit;
}

.game-table td{
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

td {
  width:100%;
  height: 9em;
  font-family: Copse, serif;
}

#start{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
}

.start {
  font-weight: bolder;
}

#reset{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2em;
}


/* eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6ImRleHRpc3MiLCJpYXQiOjE2MDYyMzA1Mjl9.58A07GRz81O4mJxQf_gv1jAr0Br4W5rs3v9UqItXdaM */